<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate = "layout">
	<head>
		<meta charset="utf-8">
		<title>Insert title here</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="panel panel-primary">
				<div class="panel-heading">Panier</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th>Id</th>
							<th>Description</th>
							<th>Marque</th>
							<th>Prix</th>
						</tr>	
						<tr th:each="a:${listArticle}">
							<td th:text="${a.id}"></td>
							<td th:text="${a.description}"></td>
							<td th:text="${a.brand}"></td>
							<td th:text="${a.price}"></td>
						</tr>
					</table>
				</div>
				<div class="panel-footer">
					<ul class="nav nav-pills">
						<li th:class="${currentPage==status.index}?'active':''" th:each="page, status:${pages}">
							<a th:href="@{/cart(page=${status.index})}" th:text="${status.index+1}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>