<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate = "layout">
	<head>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="panel panel-primary">
				<div class="panel-heading">Panier (3 points)</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th>Id</th>
							<th>Description</th>
							<th>Marque</th>
							<th>Prix</th>
						</tr>	
						<tr th:each="a:${listArticle}">
							<td th:text="${a.id}"></td>
							<td th:text="${a.description}"></td>
							<td th:text="${a.brand}"></td>
							<td th:text="${a.price}"></td>
							<td>
								<a th:href="@{/removefromcart(id=${a.id})}" class="btn btn-danger">Remove from cart</a>
							</td>
						</tr>
						
					</table>
				</div>
				<div class="panel-footer row">
					<div class="col-sm-6">
						<ul class="nav nav-pills">
							<li th:class="${currentPage==status.index}?'active':''" th:each="page, status:${pages}">
								<a th:href="@{/cart(page=${status.index})}" th:text="${status.index+1}"></a>
							</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<a href="#" class="btn btn-success">Passer la commande</a>
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>