<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="utf-8">
		<title>Insert title here</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Mon super beau site</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a class="active" th:href="@{/index}">Accueil</a></li>
					<li><a th:href="@{/article}">Ajouter un article</a></li>
					<li><a th:href="@{/cart}">Panier</a></li>
				</ul>
			</div>
		</nav>
		<nav class="navbar">
			<div class="container-fluid">
				<ul class="nav nav-pills">
					<li th:each="c:${listCategory}"><a th:href="@{/category(page=${currentPage},category=${c.name})}" th:text="${c.name}"></a></li>
				</ul>
			</div>
		</nav>
		<section layout:fragment="content"></section>
	</body>
</html>			